<section class="social">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h2>Follow us</h2>
            </div>
            <div class="col-md-8 col-sm-4 text-center">
                <ul>
                    <li>
                        <img class="social-icon img-responsive" src="images/1444659998_flaticon4.png" title="Facebook">
                    </li>
                    <li>
                        <img class="social-icon img-responsive" src="images/1444659999_flaticon2.png">
                    </li>
                    <li>
                        <img class="social-icon img-responsive" src="images/1444660000_flaticon8.png">
                    </li>
                    <li>
                        <img class="social-icon img-responsive" src="images/1444660001_flaticon5.png">
                    </li>
                    <li>
                        <img class="social-icon img-responsive" src="images/1444660007_flaticon6.png">
                    </li>
                    <li>
                        <img class="social-icon img-responsive" src="images/1444660008_flaticon7.png">
                    </li>
                </ul>
            </div>
        </div>
</div></section>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4 col-sm-4">
                <p>Copyright @SGORDER 2015 All Right Reserved</p>
            </div>
        </div>
    </div>
</footer>