<section class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>'Welcome To <span class="logoTxt">SG Order</span>'</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-4 text-center">
                <ul>
                    <li>
                        <p class="lead"><i class="glyphicon glyphicon-ok"></i> Cheap rates to Singapore guaranteed</p>
                    </li>
                    <li>
                        <p class="lead"><i class="glyphicon glyphicon-ok"></i> DHL Express delivery or,</p>
                    </li>
                    <li>
                        <p class="lead"><i class="glyphicon glyphicon-ok"></i> Tracked Economy service (learn more)</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <!--   <p class="lead">
            <img src="images/yeoman.png" alt="I'm Yeoman">
            <br> Welcome to you to my 1st MEAN Full Stack application page.
        </p> -->
                <p><a class="btn btn-lg btn-success" ng-href="login" ng-show="!isAuthenticated()">GET STARTED NOW! <i class="glyphicon glyphicon-play"></i></a></p>
            </div>
        </div>
    </div>
</section>
<section class="middle">
    <div class="container">
        <div class="row">
            <div class="col-md-12 headline">
                <h2>Brands</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="brand-box">
                    <img src="images/pedro.png" class="thumbnail">
                </div>
                <!-- <h3>Pedro</h3> -->
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer too.</p>
                <input value="Read More" class="btn btn-default">
            </div>
            <div class="col-md-3">
                <div class="brand-box">
                    <img src="images/hm.png" class="thumbnail">
                </div>
                <!-- <h3>H&M</h3> -->
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock.</p>
                <input value="Read More" class="btn btn-default">
            </div>
            <div class="col-md-3">
                <div class="brand-box">
                    <img src="images/cnk.png" class="thumbnail">
                </div>
                <!-- <h3>Charles and Keith</h3> -->
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly.</p>
                <input value="Read More" class="btn btn-default">
            </div>
            <div class="col-md-3">
                <div class="brand-box">
                    <img src="images/next.png" class="thumbnail">
                </div>
                <!-- <h3>H&M</h3> -->
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock.</p>
                <input value="Read More" class="btn btn-default">
            </div>
        </div>
    </div>
</section>
<section class="comments">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="headline">
                    <h2>People Say About Us</h2>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="/images/sample.svg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Good service and reliable price</h4>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum.
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="/images/sample.svg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Good service and reliable price</h4>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum.
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="/images/sample.svg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">One of the best customer service ever!!</h4>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="headline">
                    <h2>Latest News</h2>
                </div>
            </div>
        </div>
    </div>
</section>